article {
    padding: 2%;
    padding-top: 15px;
}
.card {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
    min-width: 250px;
}
.idea-icon {
    display: flex;
    margin-left: 20px;
}
.idea {
    background-color: #0D8EA0;
    width: 25px;
    height: 25px;
    padding: 20px;
    border-radius: 3px;
    color: white;
    font-size: 26px;
    text-align: center;
    transform: translateY(-20px);
    box-shadow: 0 8px 8px -4px rgb(230, 173, 173);
}
.assigment-icon {
    margin: 20px;;
}
.content {
    display: flex;
    flex-direction: column;
}
.row1 {
    display: flex;
    justify-content: space-between;
}
.row1 > * {
    margin: 0 2%;
}
.idea-img {
    border-radius: 8px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.171),
    0 15px 17px rgba(0, 0, 0, 0.137);
    max-height: 250px;
    overflow: hidden;
}
.summary {
    padding-top: 20px;
    font-size: 20px;
    width: 40%;
    font-weight: 500;
}
.idea-info {
    display: flex;
    flex-direction: column;
}
.info {
    display: flex;
    flex-wrap: wrap;
}
.info > p {
    margin-right: 8px;
}
.review {
    display: flex;
}
.star-review {
    font-size: 18px;
    color: #FE9900;
    margin: 0 -3px;
}
.date-info {
    display: flex;
}
.calendar-icon {
    font-size: 20px;
}
.row2 {
    display: flex;
    margin: 1% 4%;
}
.assignees-info, .workflow-info, .review-info {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}
.row2  h2 {
    font-size: 14px;
    margin-bottom: 0;
}
.edit {
    font-size: 14px;
}
.blue {
    color: #0A66B0;
    font-weight: 500;
}
.review-score {
    font-weight: 500;
    background-color: #FE9900;
    color: white;
    width: 30px;
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 1450px) {
    .summary {
        width: 35%;
    }
}

@media (max-width: 900px) {
    .row1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .idea-info {
        padding: 10px 0;
        justify-content: center;
        align-items: center;
    }
    .summary {
        padding-top: 20px;
        text-align: center;
    }
    .posted {
        display: none;
    }
    .row2 {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .row1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .idea-img {
        max-width: 90%;
        order: 0;
    }    
    .idea-info {
        order: 1;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
    }
    .posted {
        display: none;
    }
    .summary {
        order: 3;
        padding: 0;
        padding-bottom: 50px;
        text-align: center;
    }
    .row2 {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .assignees-info, .workflow-info, .review-info {
        display: flex;
        flex-direction: column;
        margin:0;
    }
    .review-info {
        align-items: center;
    }
    .summary {
        margin: 0;
    }
}